<template>
  <div>
    <h4>จัดการข้อมูลนิสิต</h4>

    <b-table sticky-header :items="items" head-variant="light"></b-table>
    <div>
      <b-row>
        <b-col md="6" offset-md="3"
          ><b-button variant="outline-info">อัพโหลด</b-button>
          <b-button variant="outline-danger">ยกเลิก</b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          ลำดับ: 1,
          รหัสนิสิต: '60160009',
          ชื่อนามสกุล: 'นางสาวจตุพร เหมรานนท์',
          แก้ไข: ' '
        },
        {
          ลำดับ: 2,
          รหัสนิสิต: '60160138',
          ชื่อนามสกุล: 'นางสาวดาราวีร์  พลปิยะ',
          แก้ไข: ' '
        },
        {
          ลำดับ: 3,
          รหัสนิสิต: '60160149',
          ชื่อนามสกุล: 'นางสาวอรอนงค์  จันวิเศษ',
          แก้ไข: ' '
        }
      ]
    }
  }
}
</script>
